<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.natrollus.nobet">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ikon"
        android:label="@string/isim"
        android:supportsRtl="true">

        <activity android:name=".aktivite.ResmiGetir">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:host="com.natrollus" android:scheme="nobet"/>
            </intent-filter>
        </activity>
        
        <receiver android:name=".Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/ayar"/>
        </receiver>

    </application>

</manifest>
